.image-item {
  display: grid;
  grid-template-columns: repeat(3);
  margin: 10px 0;
}

.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
button {
  height: 40px;
}

/* acknowledged
: 
true
insertedId
: 
"68a153bdcdd3390cb0469991" */
